/venv/
/.idea/.gitignore
/db.sqlite3
/.idea/deployment.xml
/.idea/jsLibraryMappings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sshConfigs.xml
/.idea/staring.iml
/.idea/vcs.xml
/.idea/webServers.xml
/staring/migrations/
/admin/migrations/
/customer/migrations/
/article_example/