{% extends 'customer/customer_template.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block meta %}

{% endblock %}

{% block css %}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/select2-bootstrap-5-theme@1.3.0/dist/select2-bootstrap-5-theme.min.css"/>
{% endblock %}

{% block main_content %}
    <form id="CRS" method="post">
        {% csrf_token %}
        <div class="row">
            <h1 class="h2">
                {% trans "CRS 评估表" %}
            </h1>
        </div>

        {% if not request.user.is_authenticated %}
            <div class="row mt-3">
                <div class="text-muted">
                    {% trans "由于您目前尚未登陆，您的评估结果将不会被保存！" %}
                    <a href="{% url 'CUSTLogin' %}?next=/crs/">{% trans "登录" %}</a>
                </div>
            </div>
        {% endif %}

        <div class="row my-5" id="CRS_A">
            <div class="mb-3">
                <h2 class="h3">
                    {% trans "A. Human Capital Factors" %}
                </h2>
            </div>

            <div class="mb-3 formfield" id="CRS_A0">
                <label class="form-label" for="{{ form.marriage_status.id_for_label }}">
                    {{ form.marriage_status.label }}
                    {% if form.marriage_status.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.marriage_status class="form-control select2" style="width: 100%" autofocus="autofocus" %}
                <div>
                    {% if form.marriage_status.errors %}
                        <p class="small" style="color: red;">{{ form.marriage_status.errors.0 }}</p>
                    {% elif form.marriage_status.help_text %}
                        <p class="small text-muted">{{ form.marriage_status.help_text }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="mb-3 formfield" id="CRS_A1">
                <label class="form-label" for="{{ form.age_group.id_for_label }}">
                    {{ form.age_group.label }}
                    {% if form.age_group.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.age_group class="form-control select2" style="width: 100%" %}
                <div>
                    {% if form.age_group.errors %}
                        <p class="small" style="color: red;">{{ form.age_group.errors.0 }}</p>
                    {% elif form.age_group.help_text %}
                        <p class="small text-muted">{{ form.age_group.help_text }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="mb-3 formfield" id="CRS_A2">
                <label class="form-label" for="{{ form.education_lv.id_for_label }}">
                    {{ form.education_lv.label }}
                    {% if form.education_lv.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.education_lv class="form-control select2" style="width: 100%" %}
                <div>
                    {% if form.education_lv.errors %}
                        <p class="small" style="color: red;">{{ form.education_lv.errors.0 }}</p>
                    {% elif form.education_lv.help_text %}
                        <p class="small text-muted">{{ form.education_lv.help_text }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="mb-3 formfield" id="CRS_A2_1" style="padding-left: 2rem">
                <label class="form-label" for="{{ form.education_canadian.id_for_label }}">
                    {{ form.education_canadian.label }}
                    {% if form.education_canadian.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.education_canadian class="form-control select2" style="width: 100%" %}
                <div>
                    {% if form.education_canadian.errors %}
                        <p class="small" style="color: red;">{{ form.education_canadian.errors.0 }}</p>
                    {% elif form.education_canadian.help_text %}
                        <p class="small text-muted">{{ form.education_canadian.help_text }}</p>
                    {% endif %}
                </div>
            </div>

            {% comment %}
            <div class="mb-3 formfield" id="CRS_A2_2">
                <label class="form-label" for="{{ form.education_canadian_lv.id_for_label }}">
                    {{ form.education_canadian_lv.label }}
                    {% if form.education_canadian_lv.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.education_canadian_lv class="form-control select2" style="width: 100%" %}
                <div>
                    {% if form.education_canadian_lv.errors %}
                        <p class="small" style="color: red;">{{ form.education_canadian_lv.errors.0 }}</p>
                    {% elif form.education_canadian_lv.help_text %}
                        <p class="small text-muted">{{ form.education_canadian_lv.help_text }}</p>
                    {% endif %}
                </div>
            </div>
            {% endcomment %}

            <div class="mb-3 formfield" id="CRS_A3">
                <label class="form-label" for="{{ form.valid_first_language.id_for_label }}">
                    {{ form.valid_first_language.label }}
                    {% if form.valid_first_language.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.valid_first_language class="form-control select2" style="width: 100%" %}
                <div>
                    {% if form.valid_first_language.errors %}
                        <p class="small" style="color: red;">{{ form.valid_first_language.errors.0 }}</p>
                    {% elif form.valid_first_language.help_text %}
                        <p class="small text-muted">{{ form.valid_first_language.help_text }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="mb-3 formfield" id="CRS_A3_1" style="padding-left: 2rem">
                <label class="form-label" for="{{ form.first_language_test.id_for_label }}">
                    {{ form.first_language_test.label }}
                    {% if form.first_language_test.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.first_language_test class="form-control select2" style="width: 100%" %}
                <div>
                    {% if form.first_language_test.errors %}
                        <p class="small" style="color: red;">{{ form.first_language_test.errors.0 }}</p>
                    {% elif form.first_language_test.help_text %}
                        <p class="small text-muted">{{ form.first_language_test.help_text }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="mb-3 formfield pe-0 row" id="CRS_A3_2" style="padding-left: 2rem">
                <div class="col-md-6 col-lg-3 mb-3 language1" id="CRS_A3_2_L">
                    <label class="form-label" for="{{ form.first_language_listening.id_for_label }}">
                        {{ form.first_language_listening.label }}
                        {% if form.first_language_listening.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.first_language_listening class="form-control" %}
                    <div>
                        {% if form.first_language_listening.errors %}
                            <p class="small" style="color: red;">{{ form.first_language_listening.errors.0 }}</p>
                        {% elif form.first_language_listening.help_text %}
                            <p class="small text-muted">{{ form.first_language_listening.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 language1" id="CRS_A3_2_S">
                    <label class="form-label" for="{{ form.first_language_speaking.id_for_label }}">
                        {{ form.first_language_speaking.label }}
                        {% if form.first_language_speaking.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.first_language_speaking class="form-control" %}
                    <div>
                        {% if form.first_language_speaking.errors %}
                            <p class="small" style="color: red;">{{ form.first_language_speaking.errors.0 }}</p>
                        {% elif form.first_language_speaking.help_text %}
                            <p class="small text-muted">{{ form.first_language_speaking.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 language1" id="CRS_A3_2_R">
                    <label class="form-label" for="{{ form.first_language_reading.id_for_label }}">
                        {{ form.first_language_reading.label }}
                        {% if form.first_language_reading.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.first_language_reading class="form-control" %}
                    <div>
                        {% if form.first_language_reading.errors %}
                            <p class="small" style="color: red;">{{ form.first_language_reading.errors.0 }}</p>
                        {% elif form.first_language_reading.help_text %}
                            <p class="small text-muted">{{ form.first_language_reading.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 language1" id="CRS_A3_2_W">
                    <label class="form-label" for="{{ form.first_language_writing.id_for_label }}">
                        {{ form.first_language_writing.label }}
                        {% if form.first_language_writing.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.first_language_writing class="form-control" %}
                    <div>
                        {% if form.first_language_writing.errors %}
                            <p class="small" style="color: red;">{{ form.first_language_writing.errors.0 }}</p>
                        {% elif form.first_language_writing.help_text %}
                            <p class="small text-muted">{{ form.first_language_writing.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="mb-3 formfield" id="CRS_A4">
                <label class="form-label" for="{{ form.valid_second_language.id_for_label }}">
                    {{ form.valid_second_language.label }}
                    {% if form.valid_second_language.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.valid_second_language class="form-control select2" style="width: 100%" %}
                <div>
                    {% if form.valid_second_language.errors %}
                        <p class="small" style="color: red;">{{ form.valid_second_language.errors.0 }}</p>
                    {% elif form.valid_second_language.help_text %}
                        <p class="small text-muted">{{ form.valid_second_language.help_text }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="mb-3 formfield" id="CRS_A4_1" style="padding-left: 2rem">
                <label class="form-label" for="{{ form.second_language_test.id_for_label }}">
                    {{ form.second_language_test.label }}
                    {% if form.second_language_test.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.second_language_test class="form-control select2" style="width: 100%" %}
                <div>
                    {% if form.second_language_test.errors %}
                        <p class="small" style="color: red;">{{ form.second_language_test.errors.0 }}</p>
                    {% elif form.second_language_test.help_text %}
                        <p class="small text-muted">{{ form.second_language_test.help_text }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="mb-3 formfield pe-0 row" id="CRS_A4_2" style="padding-left: 2rem">
                <div class="col-md-6 col-lg-3 mb-3 language2" id="CRS_A4_2_L">
                    <label class="form-label" for="{{ form.second_language_listening.id_for_label }}">
                        {{ form.second_language_listening.label }}
                        {% if form.second_language_listening.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.second_language_listening class="form-control" %}
                    <div>
                        {% if form.second_language_listening.errors %}
                            <p class="small" style="color: red;">{{ form.second_language_listening.errors.0 }}</p>
                        {% elif form.second_language_listening.help_text %}
                            <p class="small text-muted">{{ form.second_language_listening.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 language2" id="CRS_A4_2_S">
                    <label class="form-label" for="{{ form.second_language_speaking.id_for_label }}">
                        {{ form.second_language_speaking.label }}
                        {% if form.second_language_speaking.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.second_language_speaking class="form-control" %}
                    <div>
                        {% if form.second_language_speaking.errors %}
                            <p class="small" style="color: red;">{{ form.second_language_speaking.errors.0 }}</p>
                        {% elif form.second_language_speaking.help_text %}
                            <p class="small text-muted">{{ form.second_language_speaking.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 language2" id="CRS_A4_2_R">
                    <label class="form-label" for="{{ form.second_language_reading.id_for_label }}">
                        {{ form.second_language_reading.label }}
                        {% if form.second_language_reading.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.second_language_reading class="form-control" %}
                    <div>
                        {% if form.second_language_reading.errors %}
                            <p class="small" style="color: red;">{{ form.second_language_reading.errors.0 }}</p>
                        {% elif form.second_language_reading.help_text %}
                            <p class="small text-muted">{{ form.second_language_reading.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 language2" id="CRS_A4_2_W">
                    <label class="form-label" for="{{ form.second_language_writing.id_for_label }}">
                        {{ form.second_language_writing.label }}
                        {% if form.second_language_writing.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.second_language_writing class="form-control" %}
                    <div>
                        {% if form.second_language_writing.errors %}
                            <p class="small" style="color: red;">{{ form.second_language_writing.errors.0 }}</p>
                        {% elif form.second_language_writing.help_text %}
                            <p class="small text-muted">{{ form.second_language_writing.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="mb-3 formfield" id="CRS_A5">
                <label class="form-label" for="{{ form.work_experience.id_for_label }}">
                    {{ form.work_experience.label }}
                    {% if form.work_experience.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.work_experience class="form-control select2" style="width: 100%" %}
                <div>
                    {% if form.work_experience.errors %}
                        <p class="small" style="color: red;">{{ form.work_experience.errors.0 }}</p>
                    {% elif form.work_experience.help_text %}
                        <p class="small text-muted">{{ form.work_experience.help_text }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="mb-3 formfield" id="CRS_A5_1">
                <label class="form-label" for="{{ form.NOC.id_for_label }}">
                    {{ form.NOC.label }}
                    {% if form.NOC.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.NOC class="form-control select2" width="100%" %}
                <div>
                    {% if form.NOC.errors %}
                        <p class="small" style="color: red;">{{ form.NOC.errors.0 }}</p>
                    {% elif form.NOC.help_text %}
                        <p class="small text-muted">{{ form.NOC.help_text }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="mb-3 formfield" id="CRS_A6">
                <label class="form-label" for="{{ form.foreign_work_experience.id_for_label }}">
                    {{ form.foreign_work_experience.label }}
                    {% if form.foreign_work_experience.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.foreign_work_experience class="form-control select2" style="width: 100%" %}
                <div>
                    {% if form.foreign_work_experience.errors %}
                        <p class="small" style="color: red;">{{ form.foreign_work_experience.errors.0 }}</p>
                    {% elif form.foreign_work_experience.help_text %}
                        <p class="small text-muted">{{ form.foreign_work_experience.help_text }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row mb-5 marriage_base" id="CRS_B">
            <div class="mb-3">
                <h2 class="h3">
                    {% trans "B. Spouse or common-law partner factors" %}
                </h2>
            </div>

            <div class="mb-3 formfield" id="CRS_B1">
                <label class="form-label" for="{{ form.partner_education_lv.id_for_label }}">
                    {{ form.partner_education_lv.label }}
                    {% if form.partner_education_lv.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.partner_education_lv class="form-control select2" %}
                <div>
                    {% if form.partner_education_lv.errors %}
                        <p class="small" style="color: red;">{{ form.partner_education_lv.errors.0 }}</p>
                    {% elif form.partner_education_lv.help_text %}
                        <p class="small text-muted">{{ form.partner_education_lv.help_text }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="mb-3 formfield" id="CRS_B2">
                <label class="form-label" for="{{ form.valid_partner_language.id_for_label }}">
                    {{ form.valid_partner_language.label }}
                    {% if form.valid_partner_language.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.valid_partner_language class="form-control select2" style="width: 100%" %}
                <div>
                    {% if form.valid_partner_language.errors %}
                        <p class="small" style="color: red;">{{ form.valid_partner_language.errors.0 }}</p>
                    {% elif form.valid_partner_language.help_text %}
                        <p class="small text-muted">{{ form.valid_partner_language.help_text }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="mb-3 formfield" id="CRS_B2_1" style="padding-left: 2rem">
                <label class="form-label" for="{{ form.partner_language_test.id_for_label }}">
                    {{ form.partner_language_test.label }}
                    {% if form.partner_language_test.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.partner_language_test class="form-control select2" style="width: 100%" %}
                <div>
                    {% if form.partner_language_test.errors %}
                        <p class="small" style="color: red;">{{ form.partner_language_test.errors.0 }}</p>
                    {% elif form.partner_language_test.help_text %}
                        <p class="small text-muted">{{ form.partner_language_test.help_text }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="mb-3 formfield pe-0 row" id="CRS_B2_2" style="padding-left: 2rem">
                <div class="col-md-6 col-lg-3 mb-3 language3" id="CRS_B2_2_L">
                    <label class="form-label" for="{{ form.partner_language_listening.id_for_label }}">
                        {{ form.partner_language_listening.label }}
                        {% if form.partner_language_listening.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.partner_language_listening class="form-control" %}
                    <div>
                        {% if form.partner_language_listening.errors %}
                            <p class="small" style="color: red;">{{ form.partner_language_listening.errors.0 }}</p>
                        {% elif form.partner_language_listening.help_text %}
                            <p class="small text-muted">{{ form.partner_language_listening.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 language3" id="CRS_B2_2_S">
                    <label class="form-label" for="{{ form.partner_language_speaking.id_for_label }}">
                        {{ form.partner_language_speaking.label }}
                        {% if form.partner_language_speaking.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.partner_language_speaking class="form-control" %}
                    <div>
                        {% if form.partner_language_speaking.errors %}
                            <p class="small" style="color: red;">{{ form.partner_language_speaking.errors.0 }}</p>
                        {% elif form.partner_language_speaking.help_text %}
                            <p class="small text-muted">{{ form.partner_language_speaking.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 language3" id="CRS_B2_2_R">
                    <label class="form-label" for="{{ form.partner_language_reading.id_for_label }}">
                        {{ form.partner_language_reading.label }}
                        {% if form.partner_language_reading.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.partner_language_reading class="form-control" %}
                    <div>
                        {% if form.partner_language_reading.errors %}
                            <p class="small" style="color: red;">{{ form.partner_language_reading.errors.0 }}</p>
                        {% elif form.partner_language_reading.help_text %}
                            <p class="small text-muted">{{ form.partner_language_reading.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 mb-3 language3" id="CRS_B2_2_W">
                    <label class="form-label" for="{{ form.partner_language_writing.id_for_label }}">
                        {{ form.partner_language_writing.label }}
                        {% if form.partner_language_writing.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.partner_language_writing class="form-control" %}
                    <div>
                        {% if form.partner_language_writing.errors %}
                            <p class="small" style="color: red;">{{ form.partner_language_writing.errors.0 }}</p>
                        {% elif form.partner_language_writing.help_text %}
                            <p class="small text-muted">{{ form.partner_language_writing.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="mb-3 formfield" id="CRS_B3">
                <label class="form-label" for="{{ form.partner_work_experience.id_for_label }}">
                    {{ form.partner_work_experience.label }}
                    {% if form.partner_work_experience.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.partner_work_experience class="form-control select2" style="width: 100%" %}
                <div>
                    {% if form.partner_work_experience.errors %}
                        <p class="small" style="color: red;">{{ form.partner_work_experience.errors.0 }}</p>
                    {% elif form.partner_work_experience.help_text %}
                        <p class="small text-muted">{{ form.partner_work_experience.help_text }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row mb-5" id="CRS_C">
            <div class="mb-3">
                <h2 class="h3">
                    {% trans "C. Skill Transferability factors" %}
                </h2>
            </div>

            <div class="mb-3 formfield" id="CRS_C1">
                <label class="form-label" for="{{ form.valid_certificate.id_for_label }}">
                    {{ form.valid_certificate.label }}
                    {% if form.valid_certificate.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.valid_certificate class="form-control select2" style="width: 100%" %}
                <div>
                    {% if form.valid_certificate.errors %}
                        <p class="small" style="color: red;">{{ form.valid_certificate.errors.0 }}</p>
                    {% elif form.valid_certificate.help_text %}
                        <p class="small text-muted">{{ form.valid_certificate.help_text }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="mb-3 formfield" id="CRS_C2">
                <label class="form-label" for="{{ form.valid_job_offer.id_for_label }}">
                    {{ form.valid_job_offer.label }}
                    {% if form.valid_job_offer.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.valid_job_offer class="form-control select2" style="width: 100%" %}
                <div>
                    {% if form.valid_job_offer.errors %}
                        <p class="small" style="color: red;">{{ form.valid_job_offer.errors.0 }}</p>
                    {% elif form.valid_job_offer.help_text %}
                        <p class="small text-muted">{{ form.valid_job_offer.help_text }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="mb-3 formfield" id="CRS_C3">
                <label class="form-label" for="{{ form.valid_nomination.id_for_label }}">
                    {{ form.valid_nomination.label }}
                    {% if form.valid_nomination.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.valid_nomination class="form-control select2" style="width: 100%" %}
                <div>
                    {% if form.valid_nomination.errors %}
                        <p class="small" style="color: red;">{{ form.valid_nomination.errors.0 }}</p>
                    {% elif form.valid_nomination.help_text %}
                        <p class="small text-muted">{{ form.valid_nomination.help_text }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="mb-3 formfield marriage_base" id="CRS_C4">
                <label class="form-label" for="{{ form.valid_relatives_citizen.id_for_label }}">
                    {{ form.valid_relatives_citizen.label }}
                    {% if form.valid_relatives_citizen.field.required %}
                        <span style="color: red">*</span>
                    {% endif %}
                </label>
                {% render_field form.valid_relatives_citizen class="form-control select2" style="width: 100%" %}
                <div>
                    {% if form.valid_relatives_citizen.errors %}
                        <p class="small" style="color: red;">{{ form.valid_relatives_citizen.errors.0 }}</p>
                    {% elif form.valid_relatives_citizen.help_text %}
                        <p class="small text-muted">{{ form.valid_relatives_citizen.help_text }}</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="row mb-5" id="CRS_Submit">
            <button type="submit" class="btn btn-star w-100">
                {% trans "查看结果" %}
            </button>
        </div>
    </form>
{% endblock %}

{% block js %}
    <script>
        const hidden_sections = [
            "#CRS_A1", "#CRS_A2", "#CRS_A2_1", "#CRS_A3", "#CRS_A3_1", "#CRS_A3_2", "#CRS_A4", "#CRS_A4_1",
            "#CRS_A4_2", "#CRS_A5", "#CRS_A5_1", "#CRS_A6", "#CRS_B", "#CRS_B1", "#CRS_B2", "#CRS_B2_1", "#CRS_B2_2", "#CRS_B3",
            "#CRS_C", "#CRS_C1", "#CRS_C2", "#CRS_C3", "#CRS_C4", "#CRS_Submit"
        ]

        function hide_elements(elements) {
            for (let i = 0, len = elements.length; i < len; i++) {
                let element = elements[i]
                if (element === "#CRS_Submit") {
                    let submit_button = $("#CRS_Submit button")
                    if (!submit_button.is(":disabled")) {
                        submit_button.prop("disabled", true);
                    }
                } else {
                    let input = $(element + " .form-control");
                    if (input.val() !== "") {
                        input.val('').trigger('change');
                    }
                }
                $(element).hide();
                console.log(element)
            }
        }

        function end() {
            $("#CRS_Submit button").prop("disabled", false);
            $("#CRS_Submit").show()
        }

        $(document).ready(function () {
            $("#CRS").trigger("reset");
            $(".select2").select2({
                minimumResultsForSearch: Infinity,
                width: 'resolve',
                theme: "bootstrap-5",
            });
            hide_elements(hidden_sections);
        })

        $(document).on("keydown", "form", function (event) {
            return event.key !== "Enter";
        });

        (function ($) {
            $.each(['show', 'hide'], function (i, ev) {
                let el = $.fn[ev];
                $.fn[ev] = function () {
                    this.trigger(ev);
                    return el.apply(this, arguments);
                };
            });
        })(jQuery);

        $(':input').focus(function () {
            // center the element in the viewport
            let center = $(window).height() / 2;
            let top = $(this).offset().top;
            if (top > center) {
                $(window).scrollTop(top - center);
            }
        })

        $(".formfield").on("show", function () {
            // autofocus when shown
            let div = $(this);
            setTimeout(function () {
                let input = div.find(":input").first();
                input.trigger('focus');
            }, 50);
        })
    </script>
    <script src="{% static 'JS/crs.js' %}"></script>
{% endblock %}
