{% load i18n %}
{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="{% static 'adminkit/static/css/app.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'CSS/customer_template_basic.css' %}">
    <title></title>
</head>

<body>
<form method="post" class="p-3" style="background-color: #EDF0F3" id="ContactForm">
    {% csrf_token %}
    <div class="mb-3">
        <label class="form-label" for="{{ ContactForm.name.id_for_label }}">
            {{ ContactForm.name.label }}
            {% if ContactForm.name.field.required %}
                <span style="color: red">*</span>
            {% endif %}
        </label>
        {% render_field ContactForm.name class="form-control" %}
        <div>
            {% if ContactForm.name.help_text %}
                <p class="small text-muted">{{ ContactForm.name.help_text }}</p>
            {% elif ContactForm.name.errors %}
                <p class="small" style="color: red;">{{ ContactForm.name.errors.0 }}</p>
            {% endif %}
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="{{ ContactForm.email.id_for_label }}">
            {{ ContactForm.email.label }}
            {% if ContactForm.email.field.required %}
                <span style="color: red">*</span>
            {% endif %}
        </label>
        {% render_field ContactForm.email class="form-control" %}
        <div>
            {% if ContactForm.email.help_text %}
                <p class="small text-muted">{{ ContactForm.email.help_text }}</p>
            {% elif ContactForm.email.errors %}
                <p class="small" style="color: red;">{{ ContactForm.email.errors.0 }}</p>
            {% endif %}
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="{{ ContactForm.contact_detail.id_for_label }}">
            {{ ContactForm.contact_detail.label }}
            {% if ContactForm.contact_detail.field.required %}
                <span style="color: red">*</span>
            {% endif %}
        </label>
        <div class="input-group">
            {% render_field ContactForm.contact_detail class="form-control" %}
        </div>

        <div>
            {% if ContactForm.contact_detail.help_text %}
                <p class="small text-muted">{{ ContactForm.contact_detail.help_text }}</p>
            {% elif ContactForm.contact_detail.errors %}
                <p class="small" style="color: red;">{{ ContactForm.contact_detail.errors.0 }}</p>
            {% endif %}
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="{{ ContactForm.query.id_for_label }}">
            {{ ContactForm.query.label }}
            {% if ContactForm.query.field.required %}
                <span style="color: red">*</span>
            {% endif %}
        </label>
        {% render_field ContactForm.query class="form-control" style="height:7rem" %}
        <div>
            {% if ContactForm.query.help_text %}
                <p class="small text-muted">{{ ContactForm.query.help_text }}</p>
            {% elif ContactForm.query.errors %}
                <p class="small" style="color: red;">{{ ContactForm.query.errors.0 }}</p>
            {% endif %}
        </div>
    </div>
    <div class="mb-3">
        <button name="contact" class="btn btn-star">{% translate '提交' %}</button>
    </div>
</form>
</body>