{% extends 'customer/customer_base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block css %}
    <style>
        .border-left {
            border-left: 1px solid #000 !important;
        }

        @media (min-width: 768px) {
            .border-md-left {
                border-left: 1px solid #000 !important;
            }
        }

        .section-title {
            margin-top: 5rem;
            border-bottom: 1px solid #000;
        }

        .section-title > div {
            background-color: #0A1A38;
            color: #fff;
        }
    </style>
    <link rel="stylesheet" href="{% static 'CSS/theme.css' %}">
{% endblock %}

{% block basic_template_content %}
    <div class="container-md px-7 py-5">
        <div class="row pb-3 mt-3 border-bottom">
            <div class="mt-3 align-items-center">
                <div class="px-3 float-md-start">
                    <h1>我的账户</h1>
                </div>

                <div class="px-4 py-2 float-md-start align-bottom border-md-left">
                    {{ user.customer.get_vip_lv_display }}
                </div>

                <div class="px-4 py-2 float-start align-bottom border-md-left">
                    <strong><i class="bi bi-person"></i></strong> {{ user.get_display_name }}
                </div>

                <div class="px-4 py-2 float-start align-bottom border-left">
                    <strong><i class="bi bi-hash"></i></strong> {{ user.get_uid_as_string|slice:"-8:" }}
                </div>

                <div class="ms-auto float-end">
                    <a href="{% url 'CUSTLogout' %}" class="btn btn-outline-star px-3 py-2">登出</a>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="section-title">
                <div class="ml-3 mr-5 px-2 py-1 w-25">
                    个人档案
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mt-3">
                电话: {{ user.get_phone }}
            </div>
            <div class="col-md-6 mt-3">
                邮箱: {{ user.email }}
            </div>
            <div class="col-md-6 mt-3">
                生日：{{ user.dob }}
            </div>
        </div>

        <div class="row mt-7">
            <div class="section-title">
                <div class="ml-3 mr-5 px-2 py-1 w-25">
                    免费评估
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-3">
                暂无评估结果
            </div>
        </div>

        <div class="row mt-7">
            <div class="section-title">
                <div class="ml-3 mr-5 px-2 py-1 w-25">
                    预约咨询
                </div>
            </div>
        </div>

        <div class="row g-3 mt-3">
            {% if appointments %}
                {% for appointment in appointments %}
                    <div class="col-md-4 col-lg-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{% trans "预约详情" %}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ appointment.get_status_display }}</h6>
                                <ul class="list-group list-group-flush mb-2">
                                    <li class="list-group-item">
                                        <strong>{% trans "日期" %}</strong><span
                                            class="ms-3">{{ appointment.slot.date }}</span>
                                    </li>
                                    <li class="list-group-item">
                                        <strong>{% trans "时间" %}</strong><span
                                            class="ms-3">{{ appointment.slot.start_time }}-{{ appointment.slot.end_time }}</span>
                                    </li>
                                </ul>
                                {# todo: 添加不同状态的处理 #}
                                {% if appointment.status == "UNPAID" %}
                                    <a href="{% url 'CUSTAppointPay' appointment.id %}"
                                       class="btn btn-star w-100">
                                        {% trans "前往付款" %}
                                    </a>
                                {% elif appointment.status == "CASH" %}
                                    <button type="button" data-bs-toggle="collapse"
                                            data-bs-target="#company_address_collapse"
                                            aria-expanded="false" aria-controls="company_address_collapse"
                                            class="btn btn-star w-100">
                                        {% trans "查看信息" %}
                                    </button>
                                    <div class="collapse" id="company_address_collapse">
                                        <div class="card-body">
                                            {% blocktranslate %}
                                                公司地址信息以及更多信息
                                            {% endblocktranslate %}
                                            {# todo: 添加公司地址信息以及CASH详情 #}
                                        </div>
                                    </div>
                                {% elif appointment.status == "REJECT" %}
                                    <button type="button" data-bs-toggle="collapse"
                                            data-bs-target="#reject_collapse"
                                            aria-expanded="false" aria-controls="reject_collapse"
                                            class="btn btn-star w-100">{% trans "查看原因" %}</button>
                                    <div class="collapse" id="reject_collapse">
                                        <div class="card-body">
                                            {% blocktranslate %}
                                                拒绝原因
                                            {% endblocktranslate %}
                                            {# todo: 添加公司地址信息以及CASH详情 #}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div>
                    <p class="mt-3">
                        您暂无安排任何预约，前往预约
                    </p>
                    <p class="mt-3">
                        您暂无任何咨询记录
                    </p>
                    <p class="mt-3">
                        专案咨询费用: $100 /小时
                    </p>
                    <a href="{% url 'CUSTAppoint' %}" class="btn btn-star">
                        {% trans "前往预约" %}
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="row mt-7">
            <div class="section-title">
                <div class="ml-3 mr-5 px-2 py-1 w-25">
                    智库内刊
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                加拿大咨询
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                加拿大留学
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                工作及就业机会
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                加拿大福利
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                加拿大移民
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                加拿大旅游
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                加拿大安家
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                资源与工具
            </div>
        </div>
    </div>
{% endblock %}