{% extends 'customer/customer_base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block basic_template_content %}
    <div class="container-md py-5">
        <div class="row w-75">
            {% for result in results %}
                <div class="mt-3">
                    <a href="{% url 'article' result.id %}" class="d-block fs-5 fw-bold">
                        {{ result.title }}
                    </a>
                    <small class="text-secondary">
                        {% blocktranslate with author=result.author date=result.last_update|date view=result.view_count %}
                            <i class="fa-solid fa-user-pen"></i> {{ author }}&emsp;<i class="fa-regular fa-calendar"></i> {{ date }}&emsp;<i class="fa-solid fa-eye"></i> {{ view }}
                        {% endblocktranslate %}
                    </small>
                    <p class="mt-3">{{ result.content|striptags|safe|slice:":150" }}</p>
                </div>
            {% empty %}
                <div class="mt-3">
                    {% blocktranslate %}
                        <h1>对不起，暂未搜索到符合条件的文章</h1>
                    {% endblocktranslate %}
                </div>
            {% endfor %}
        </div>

        <div class="row mt-5">
            <div class="col-sm-12 col-md-5">
                <div class="dataTables_info">
                    {% blocktranslate with start=results.start_index end=results.end_index page_total=paginator.num_pages Customer_total=paginator.count %}
                        第 {{ current_page }} 页，共 {{ page_total }} 页
                        <p class="small">第 {{ start }} ~ {{ end }} 项，共 {{ Customer_total }} 项</p>
                    {% endblocktranslate %}
                </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <div class="btn-group mb-3 float-end">

                    <a href="{% if current_page != 1 %}{% url 'CUSTSearch' 1 %}{% endif %}"
                       class="btn btn-outline-primary {% if current_page == 1 %}disabled{% endif %}">
                        <i class="bi bi-chevron-bar-left"></i>
                    </a>

                    <a href="{% if results.has_previous %}{% url 'CUSTSearch' results.previous_page_number %}{% endif %}"
                       class="btn btn-outline-primary {% if not results.has_previous %}disabled{% endif %}">
                        <i class="bi bi-chevron-left"></i>
                    </a>

                    {% for p in page_list %}
                        <a href="{% if p != "..." %}{% url 'CUSTSearch' p %}{% else %}#{% endif %}"
                           class="btn btn-outline-primary {% if p == current_page %}active{% elif p == "..." %}disabled{% endif %}">
                            {{ p }}
                        </a>
                    {% endfor %}

                    <a href="{% if results.has_next %}{% url 'CUSTSearch' results.next_page_number %}{% endif %}"
                       class="btn btn-outline-primary {% if not results.has_next %}disabled{% endif %}">
                        <i class="bi bi-chevron-right"></i>
                    </a>
                    <a href="{% if current_page != paginator.num_pages %}{% url 'CUSTSearch' paginator.num_pages %}{% endif %}"
                       class="btn btn-outline-primary {% if current_page == paginator.num_pages %}disabled{% endif %}">
                        <i class="bi bi-chevron-bar-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}