{% extends 'customer/customer_base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block basic_template_content %}
    <div class="container">
        <div class="row mt-5 gx-5">
            <div class="col-md-8 col-sm-12">
                {% block main_content %}{% endblock %}
            </div>

            <div class="col-md-4 col-sm-12">
                {% if ContactForm %}
                    <div class="px-3 sidebar-red-line">
                        <h5>快速咨询 | Contact Us</h5>
                    </div>

                    <div class="m-3">
                        <iframe src="{% url 'CUSTContact' %}" style="width: calc(100% - 1rem)" scrolling="no" id="ContactForm"></iframe>
                    </div>

                    <script>
                        let iframe = document.getElementById("ContactForm")
                        if(iframe.attachEvent){
                            iframe.attachEvent("onload", function(){
                                iframe.height =  iframe.contentWindow.document.documentElement.scrollHeight;
                            });
                        }else{
                            iframe.onload = function(){
                                iframe.height = iframe.contentDocument.body.scrollHeight;
                            };
                        }
                    </script>
                {% endif %}

                <div class="px-3 sidebar-red-line">
                    <h5>常见搜索</h5>
                </div>

                <div class="m-3">
                    <div class="accordion">
                        <div class="accordion-item"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}