{% extends 'customer/customer_template.html' %}

{% block css %}
    <style>
        .accordion-header{
            border-bottom: 1px solid #001F45;
        }

        .accordion-title{
            font-family: Noto Sans CJK SC, serif;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height:20px
        }
    </style>
{% endblock %}

{% block main_content %}
    <form class="mb-5 justify-content-evenly">
        <div style="display: inline-block">
            <strong>快速查找移民留学项目</strong>
        </div>
        <div class="col-4" style="display: inline-block">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
                       aria-describedby="button-addon2">
                <button class="btn btn-star" type="submit" id="button-addon2" name="quickSearch">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>
    </form>

    {% for indexItem in indexList %}
        <dl class="row">
            <dt class="col-md-3 text-center align-self-start pt-2">
                {{ indexItem.name }}
            </dt>
            <dd class="col-md-9">
                <div class="row g-1">
                    {% for item in indexItem.items %}
                        <div class="col-md-4">
                            <div class="card p-2 bg-star-grey">
                                <a href="{{ item.linkName }}"
                                   class="text-decoration-none text-black">
                                    {{ item.name }}
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </dd>
        </dl>
    {% endfor %}

    <div class="row g-3 mt-5">
        {% for a in accordion %}
            <div class="col-md-6 col-sm-12">
                <div class="w-100 accordion-header">
                    <p class="accordion-title">{{ a.title }}</p>
                </div>
                <div class="accordion py-3" id="accordionExample">
                    {% for article in a.articles %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#{{ article.title }}" aria-expanded="true"
                                        aria-controls="collapseOne">
                                    {{ article.title }}
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {{ article.intro }}
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <p>暂无内容</p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}