{% extends 'customer/customer_base.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block basic_template_content %}
    <div class="container px-7 py-5">
        <div class="row mb-5">
            <h2>注册中心</h2>
        </div>

        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-8 col-sm-12 mt-3">
                    <label class="form-label" for="{{ form.name.id_for_label }}">
                        {{ form.name.label }} 
                        {% if form.name.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.name class="form-control" %}
                    <div>
                        {% if form.name.help_text %}
                            <p class="small text-muted">{{ form.name.help_text }}</p>
                        {% elif form.name.errors %}
                            <p class="small" style="color: red;">{{ form.name.errors.0 }}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-8 col-sm-12 mt-3">
                    <label class="form-label" for="{{ form.email.id_for_label }}">
                        {{ form.email.label }}
                        {% if form.email.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.email class="form-control" %}
                    <div>
                        {% if form.email.errors %}
                            <p class="small" style="color: red;">{{ form.email.errors.0 }}</p>
                        {% elif form.email.help_text %}
                            <p class="small text-muted">{{ form.email.help_text }}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="offset-3"></div>

                <div class="col-md-2 col-sm-4 mt-3">
                    <label class="form-label" for="{{ form.countryCode.id_for_label }}">
                        {{ form.countryCode.label }} 
                        {% if form.countryCode.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.countryCode class="form-control" %}
                    <div>
                        {% if form.countryCode.errors %}
                            <p class="small" style="color: red;">{{ form.countryCode.errors.0 }}</p>
                        {% elif form.countryCode.help_text %}
                            <p class="small text-muted">{{ form.countryCode.help_text }}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-6 col-sm-8 mt-3">
                    <label class="form-label" for="{{ form.tele.id_for_label }}">
                        {{ form.tele.label }}
                        {% if form.tele.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.tele class="form-control" %}
                    <div>
                        {% if form.tele.errors %}
                            <p class="small" style="color: red;">{{ form.tele.errors.0 }}</p>
                        {% elif form.tele.help_text %}
                            <p class="small text-muted">{{ form.tele.help_text }}</p>
                        {% endif %}
                    </div>
                </div>

                <div class="col-md-8 col-sm-12 mt-3">
                    <label class="form-label" for="{{ form.dob.id_for_label }}">
                        {{ form.dob.label }}
                        {% if form.dob.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.dob class="form-control" type="date" %}
                    <div>
                        {% if form.dob.errors %}
                            <p class="small" style="color: red;">{{ form.dob.errors.0 }}</p>
                        {% elif form.dob.help_text %}
                            <p class="small text-muted">{{ form.dob.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-8 offset col-sm-12 mt-3">
                    <label class="form-label" for="{{ form.username.id_for_label }}">
                        {{ form.username.label }} 
                        {% if form.username.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.username class="form-control" %}
                    <div>
                        {% if form.username.errors %}
                            <p class="small" style="color: red;">{{ form.username.errors.0 }}</p>
                        {% elif form.username.help_text %}
                            <p class="small text-muted">{{ form.username.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12 mt-3">
                    <label class="form-label" for="{{ form.password1.id_for_label }}">
                        {{ form.password1.label }} 
                        {% if form.password1.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.password1 class="form-control" %}
                    <div>
                        {% if form.password1.errors %}
                            <p class="small" style="color: red;">{{ form.password1.errors.0 }}</p>
                        {% elif form.password1.help_text %}
                            <p class="small text-muted">{{ form.password1.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 mt-3">
                    <label class="form-label" for="{{ form.password2.id_for_label }}">
                        {{ form.password2.label }} 
                        {% if form.password2.field.required %}
                            <span style="color: red">*</span>
                        {% endif %}
                    </label>
                    {% render_field form.password2 class="form-control" %}
                    <div>
                        {% if form.password2.errors %}
                            <p class="small" style="color: red;">{{ form.password2.errors.0 }}</p>
                        {% elif form.password2.help_text %}
                            <p class="small text-muted">{{ form.password2.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-check">
                        {% render_field form.agreement class="form-check-input" %}
                        <label class="form-label text-muted" for="{{ form.agreement.id_for_label }}">
                            <small>
                                {{ form.agreement.label }}
                                {% if form.agreement.field.required %}
                                    <span style="color: red">*</span>
                                {% endif %}
                            </small>
                        </label>
                    </div>
                    <div>
                        {% if form.agreement.errors %}
                            <p class="small" style="color: red;">{{ form.agreement.errors.0 }}</p>
                        {% elif form.agreement.help_text %}
                            <p class="small text-muted">{{ form.agreement.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-check">
                        {% render_field form.subscribe class="form-check-input" %}
                        <label class="form-label text-muted" for="{{ form.subscribe.id_for_label }}">
                            <small>
                                {{ form.subscribe.label }}
                                {% if form.subscribe.field.required %}
                                    <span style="color: red">*</span>
                                {% endif %}
                            </small>
                        </label>
                    </div>
                    <div>
                        {% if form.subscribe.errors %}
                            <p class="small" style="color: red;">{{ form.subscribe.errors.0 }}</p>
                        {% elif form.subscribe.help_text %}
                            <p class="small text-muted">{{ form.subscribe.help_text }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>

            {% comment %}<div class="row">
                {% for e in form.errors %}
                    <p class="small text-danger">{{ e }}</p>
                {% endfor %}
            </div>{% endcomment %}

            <div class="row mt-4">
                <div class="col-md-8 mt-3">
                    <button class="btn btn-star w-100" type="submit">注册</button>
                </div>

                <div class="col-md-8 mt-3 align-items-center">
                    <small>已有账号？前往 <a href="{% url 'CUSTCenter' %}">登录</a></small>
                </div>
            </div>
        </form>
    </div>
{% endblock %}