.action-button {
    text-decoration: none !important;
    color: #939ba2 !important;
}

.edit-button:hover {
    text-decoration: none !important;
    color: #555555 !important;
}

.trash-button:hover {
    text-decoration: none !important;
    color: #aa0000 !important;
}

.check-button:hover {
    text-decoration: none !important;
    color: #94EB69 !important;
}

.card > table > thead > tr > th:first-child{
    padding-left: 1.25rem;
}

.card > table > thead > tr > th:last-child{
    padding-right: 1.25rem;
}

.card > table > tbody > tr > td:first-child{
    padding-left: 1.25rem;
}

.card > table > tbody > tr > td:last-child{
    padding-right: 1.25rem;
}

.error_message ul {
    list-style-type: None;
}

.error_message ul li:before {
    content: '\f057' !important;
    font-family: FontAwesome;
    color: #e03535 !important;
    margin-right: 10px;
    margin-left: -14px;
    font-size: 1.2em !important;
}

.timeline {
    list-style-type: none;
    position: relative
}

.timeline:before {
    background: #dee2e6;
    height: 100%;
    left: 9px;
    width: 2px
}

.timeline-item:before,.timeline:before {
    content: " ";
    display: inline-block;
    position: absolute;
    z-index: 1
}

.timeline-item:before {
    background: #fff;
    border: 3px solid #3b7ddd;
    border-radius: 50%;
    height: 20px;
    left: 0;
    width: 20px
}