{% load i18n %}
{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="img/icons/icon-48x48.png"/>

    <title>{% block page_title %}{% endblock %}</title>

    <link href="{% static 'adminkit/static/css/app.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    {% trans "基础信息" %}
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12 mb-3">
                        <label class="form-label" for="{{ basic_form.username.id_for_label }}">
                            {{ basic_form.username.label }}
                            {% if basic_form.username.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        {% render_field basic_form.username class="form-control" %}
                        <div>
                            {% if basic_form.username.errors %}
                                <p class="small" style="color: red;">{{ basic_form.username.errors.0 }}</p>
                            {% elif basic_form.username.help_text %}
                                <p class="small">{{ basic_form.username.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-3">
                        <label class="form-label" for="{{ basic_form.name.id_for_label }}">
                            {{ basic_form.name.label }} 
                            {% if basic_form.name.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        {% render_field basic_form.name class="form-control" %}
                        <div>
                            {% if basic_form.name.errors %}
                                <p class="small" style="color: red;">{{ basic_form.name.errors.0 }}</p>
                            {% elif basic_form.name.help_text %}
                                <p class="small">{{ basic_form.name.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 mb-3">
                        <label class="form-label" for="{{ basic_form.dob.id_for_label }}">
                            {{ basic_form.dob.label }}
                            {% if basic_form.dob.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        {% render_field basic_form.dob class="form-control flatpickr-minimum flatpickr-input" %}
                        <div>
                            {% if basic_form.dob.errors %}
                                <p class="small" style="color: red;">{{ basic_form.dob.errors.0 }}</p>
                            {% elif basic_form.dob.help_text %}
                                <p class="small">{{ basic_form.dob.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12 mb-3">
                        <label class="form-label" for="{{ basic_form.email.id_for_label }}">
                            {{ basic_form.email.label }}
                            {% if basic_form.email.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        <div class="input-group">
                            {% render_field basic_form.email class="form-control" %}
                            {% if basic_form.email.value %}
                                <a href="mailto:{{ basic_form.email.value }}" class="btn btn-primary" type="button">
                                    <i class="align-middle" data-feather="mail"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div>
                            {% if basic_form.email.errors %}
                                <p class="small" style="color: red;">{{ basic_form.email.errors.0 }}</p>
                            {% elif basic_form.email.help_text %}
                                <p class="small">{{ basic_form.email.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 mb-3">
                       <label class="form-label" for="{{ basic_form.countryCode.id_for_label }}">
                           {{ basic_form.countryCode.label }}
                           {% if basic_form.countryCode.field.required %}
                               <span style="color: red">*</span>
                           {% endif %}
                       </label>
                       {% render_field basic_form.countryCode class="form-control" %}
                       <div>
                           {% if basic_form.countryCode.errors %}
                               <p class="small" style="color: red;">{{ basic_form.countryCode.errors.0 }}</p>
                           {% elif basic_form.countryCode.help_text %}
                               <p class="small">{{ basic_form.countryCode.help_text }}</p>
                           {% endif %}
                       </div>
                    </div>
                    <div class="col-md-9 col-sm-8 mb-3">
                        <label class="form-label" for="{{ basic_form.tele.id_for_label }}">
                            {{ basic_form.tele.label }}
                            {% if basic_form.tele.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        <div class="input-group">
                            {% render_field basic_form.tele class="form-control" %}
                            {% if basic_form.tele.value %}
                                <a href="sms:{{ basic_form.tele.value }}" class="btn btn-primary" type="button">
                                    <i class="align-middle" data-feather="message-square"></i>
                                </a>
                                <a href="tel:{{ basic_form.tele.value }}" class="btn btn-primary" type="button">
                                    <i class="align-middle" data-feather="phone"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div>
                            {% if basic_form.tele.errors %}
                                <p class="small" style="color: red;">{{ basic_form.tele.errors.0 }}</p>
                            {% elif basic_form.tele.help_text %}
                                <p class="small">{{ basic_form.tele.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <small style="color: red">{{ basic_form.non_field_errors }}</small>
                </div>
            </div>

            <hr class="my-0">

            <div class="card-body">
                <button class="w-100 btn btn-primary" type="submit">提交</button>

            </div>
        </div>
    </form>

    <div class="flatpickr-calendar hasTime animate arrowTop arrowLeft" tabindex="-1"
         style="top: 616.2px; left: 332px; right: auto;">
        <div class="flatpickr-months"><span class="flatpickr-prev-month"><svg version="1.1"
                                                                              xmlns="http://www.w3.org/2000/svg"
                                                                              xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                              viewBox="0 0 17 17"><g></g><path
                d="M5.207 8.471l7.146 7.147-0.707 0.707-7.853-7.854 7.854-7.853 0.707 0.707-7.147 7.146z"></path></svg></span>
            <div class="flatpickr-month">
                <div class="flatpickr-current-month"><select class="flatpickr-monthDropdown-months" aria-label="Month"
                                                             tabindex="-1">
                    <option class="flatpickr-monthDropdown-month" value="0" tabindex="-1">January</option>
                    <option class="flatpickr-monthDropdown-month" value="1" tabindex="-1">February</option>
                    <option class="flatpickr-monthDropdown-month" value="2" tabindex="-1">March</option>
                    <option class="flatpickr-monthDropdown-month" value="3" tabindex="-1">April</option>
                    <option class="flatpickr-monthDropdown-month" value="4" tabindex="-1">May</option>
                    <option class="flatpickr-monthDropdown-month" value="5" tabindex="-1">June</option>
                    <option class="flatpickr-monthDropdown-month" value="6" tabindex="-1">July</option>
                    <option class="flatpickr-monthDropdown-month" value="7" tabindex="-1">August</option>
                    <option class="flatpickr-monthDropdown-month" value="8" tabindex="-1">September</option>
                    <option class="flatpickr-monthDropdown-month" value="9" tabindex="-1">October</option>
                    <option class="flatpickr-monthDropdown-month" value="10" tabindex="-1">November</option>
                    <option class="flatpickr-monthDropdown-month" value="11" tabindex="-1">December</option>
                </select>
                    <div class="numInputWrapper"><input class="numInput cur-year" type="number" tabindex="-1"
                                                        aria-label="Year"><span class="arrowUp"></span><span
                            class="arrowDown"></span></div>
                </div>
            </div>
            <span class="flatpickr-next-month"><svg version="1.1" xmlns="http://www.w3.org/2000/svg"
                                                    xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 17 17"><g></g><path
                    d="M13.207 8.472l-7.854 7.854-0.707-0.707 7.146-7.146-7.146-7.148 0.707-0.707 7.854 7.854z"></path></svg></span>
        </div>
        <div class="flatpickr-innerContainer">
            <div class="flatpickr-rContainer">
                <div class="flatpickr-weekdays">
                    <div class="flatpickr-weekdaycontainer">
      <span class="flatpickr-weekday">
        Sun</span><span class="flatpickr-weekday">Mon</span><span class="flatpickr-weekday">Tue</span><span
                            class="flatpickr-weekday">Wed</span><span class="flatpickr-weekday">Thu</span><span
                            class="flatpickr-weekday">Fri</span><span class="flatpickr-weekday">Sat
      </span>
                    </div>
                </div>
                <div class="flatpickr-days" tabindex="-1">
                    <div class="dayContainer"><span class="flatpickr-day prevMonthDay" aria-label="August 29, 2021"
                                                    tabindex="-1">29</span><span class="flatpickr-day prevMonthDay"
                                                                                 aria-label="August 30, 2021"
                                                                                 tabindex="-1">30</span><span
                            class="flatpickr-day prevMonthDay" aria-label="August 31, 2021" tabindex="-1">31</span><span
                            class="flatpickr-day " aria-label="September 1, 2021" tabindex="-1">1</span><span
                            class="flatpickr-day " aria-label="September 2, 2021" tabindex="-1">2</span><span
                            class="flatpickr-day " aria-label="September 3, 2021" tabindex="-1">3</span><span
                            class="flatpickr-day " aria-label="September 4, 2021" tabindex="-1">4</span><span
                            class="flatpickr-day " aria-label="September 5, 2021" tabindex="-1">5</span><span
                            class="flatpickr-day " aria-label="September 6, 2021" tabindex="-1">6</span><span
                            class="flatpickr-day " aria-label="September 7, 2021" tabindex="-1">7</span><span
                            class="flatpickr-day " aria-label="September 8, 2021" tabindex="-1">8</span><span
                            class="flatpickr-day " aria-label="September 9, 2021" tabindex="-1">9</span><span
                            class="flatpickr-day " aria-label="September 10, 2021" tabindex="-1">10</span><span
                            class="flatpickr-day " aria-label="September 11, 2021" tabindex="-1">11</span><span
                            class="flatpickr-day " aria-label="September 12, 2021" tabindex="-1">12</span><span
                            class="flatpickr-day " aria-label="September 13, 2021" tabindex="-1">13</span><span
                            class="flatpickr-day " aria-label="September 14, 2021" tabindex="-1">14</span><span
                            class="flatpickr-day " aria-label="September 15, 2021" tabindex="-1">15</span><span
                            class="flatpickr-day " aria-label="September 16, 2021" tabindex="-1">16</span><span
                            class="flatpickr-day " aria-label="September 17, 2021" tabindex="-1">17</span><span
                            class="flatpickr-day " aria-label="September 18, 2021" tabindex="-1">18</span><span
                            class="flatpickr-day " aria-label="September 19, 2021" tabindex="-1">19</span><span
                            class="flatpickr-day " aria-label="September 20, 2021" tabindex="-1">20</span><span
                            class="flatpickr-day " aria-label="September 21, 2021" tabindex="-1">21</span><span
                            class="flatpickr-day " aria-label="September 22, 2021" tabindex="-1">22</span><span
                            class="flatpickr-day today" aria-label="September 23, 2021" aria-current="date"
                            tabindex="-1">23</span><span class="flatpickr-day " aria-label="September 24, 2021"
                                                         tabindex="-1">24</span><span class="flatpickr-day "
                                                                                      aria-label="September 25, 2021"
                                                                                      tabindex="-1">25</span><span
                            class="flatpickr-day " aria-label="September 26, 2021" tabindex="-1">26</span><span
                            class="flatpickr-day " aria-label="September 27, 2021" tabindex="-1">27</span><span
                            class="flatpickr-day " aria-label="September 28, 2021" tabindex="-1">28</span><span
                            class="flatpickr-day " aria-label="September 29, 2021" tabindex="-1">29</span><span
                            class="flatpickr-day " aria-label="September 30, 2021" tabindex="-1">30</span><span
                            class="flatpickr-day nextMonthDay" aria-label="October 1, 2021" tabindex="-1">1</span><span
                            class="flatpickr-day nextMonthDay" aria-label="October 2, 2021" tabindex="-1">2</span><span
                            class="flatpickr-day nextMonthDay" aria-label="October 3, 2021" tabindex="-1">3</span><span
                            class="flatpickr-day nextMonthDay" aria-label="October 4, 2021" tabindex="-1">4</span><span
                            class="flatpickr-day nextMonthDay" aria-label="October 5, 2021" tabindex="-1">5</span><span
                            class="flatpickr-day nextMonthDay" aria-label="October 6, 2021" tabindex="-1">6</span><span
                            class="flatpickr-day nextMonthDay" aria-label="October 7, 2021" tabindex="-1">7</span><span
                            class="flatpickr-day nextMonthDay" aria-label="October 8, 2021" tabindex="-1">8</span><span
                            class="flatpickr-day nextMonthDay" aria-label="October 9, 2021" tabindex="-1">9</span></div>
                </div>
            </div>
        </div>
        <div class="flatpickr-time flatpickr-input" tabindex="-1" readonly="readonly">
            <div class="numInputWrapper"><input class="numInput flatpickr-hour" type="number" aria-label="Hour"
                                                tabindex="-1" step="1" min="1" max="12" maxlength="2"><span
                    class="arrowUp"></span><span class="arrowDown"></span></div>
            <span class="flatpickr-time-separator">:</span>
            <div class="numInputWrapper"><input class="numInput flatpickr-minute" type="number" aria-label="Minute"
                                                tabindex="-1" step="5" min="0" max="59" maxlength="2"><span
                    class="arrowUp"></span><span class="arrowDown"></span></div>
            <span class="flatpickr-am-pm" title="Click to toggle" tabindex="-1">PM</span></div>
    </div>


    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="{% static 'adminkit/static/js/app.js' %}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            // Flatpickr
            flatpickr(".flatpickr-minimum", {
                dateFormat: "Y/m/d",
            });
        });
    </script>
</body>