{% extends 'admin/admin_template.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
    <link href="{% static 'CSS/admin_template_basic.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">
            <a class="btn btn-link text-secondary" href="{% url 'ADMAppointmentEdit' appointment.id %}">
                <i class="bi bi-arrow-left"></i>
            </a> {% translate '更新' %}</h1>
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <ul class="timeline mt-2 mb-0">
                            {% for update in updates %}
                                <li class="timeline-item">
                                    <strong>{{ update.title }}</strong>
                                    <span class="float-end text-muted text-sm">
                                        {{ update.time_diff }}
                                    </span>
                                    {% if update.message %}
                                        <p>{{ update.message }}</p>
                                    {% endif %}
                                </li>
                            {% empty %}
                                <li>
                                    {% trans "暂无动态" %}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}