{% extends 'admin/admin_template.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
    <link href="{% static 'CSS/admin_template_basic.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{% translate '预约搜索' %}</h5>
                </div>
                <div class="card-body">
                    <form method="POST" class="row">
                        {% csrf_token %}
                        <div class="col-md h-100">
                            <div class="row p-0">
                                <div class="mb-3">
                                    <label class="form-label" for="{{ form.start_datetime.id_for_label }}">
                                        {{ form.start_datetime.label }}
                                        {% if form.start_datetime.field.required %}
                                            <span style="color: red">*</span>
                                        {% endif %}
                                    </label>
                                    {% render_field form.start_datetime class="form-control" type="datetime-local" %}
                                    <div>
                                        {% if form.start_datetime.errors %}
                                            <p class="small" style="color: red;">{{ form.start_datetime.errors.0 }}</p>
                                        {% elif form.start_datetime.help_text %}
                                            <p class="small text-muted">{{ form.start_datetime.help_text }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="{{ form.end_datetime.id_for_label }}">
                                        {{ form.end_datetime.label }}
                                        {% if form.end_datetime.field.required %}
                                            <span style="color: red">*</span>
                                        {% endif %}
                                    </label>
                                    {% render_field form.end_datetime class="form-control" type="datetime-local" %}
                                    <div>
                                        {% if form.end_datetime.errors %}
                                            <p class="small" style="color: red;">{{ form.end_datetime.errors.0 }}</p>
                                        {% elif form.end_datetime.help_text %}
                                            <p class="small text-muted">{{ form.end_datetime.help_text }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label" for="{{ form.keyword.id_for_label }}">
                                        {{ form.keyword.label }}
                                        {% if form.keyword.field.required %}
                                            <span style="color: red">*</span>
                                        {% endif %}
                                    </label>
                                    {% render_field form.keyword class="form-control" %}
                                    <div>
                                        {% if form.keyword.errors %}
                                            <p class="small" style="color: red;">{{ form.keyword.errors.0 }}</p>
                                        {% elif form.keyword.help_text %}
                                            <p class="small text-muted">{{ form.keyword.help_text }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md h-100">
                            <div class="col-sm-12 col-md-12 mb-3">
                                <label class="form-label" for="{{ form.status.id_for_label }}">
                                    {{ form.status.label }}
                                    {% if form.status.field.required %}
                                        <span style="color: red">*</span>
                                    {% endif %}
                                </label>
                                {% render_field form.status class="form-select" size="9" %}
                                <div>
                                    {% if form.status.errors %}
                                        <p class="small" style="color: red;">{{ form.status.errors.0 }}</p>
                                    {% elif form.status.help_text %}
                                        <p class="small text-muted">{{ form.status.help_text }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="w-100 btn btn-primary" type="submit">{% trans "搜索" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">{% translate '预约时间' %}</h5>
                </div>

                <table class="table table-striped table-padding">
                    <thead>
                    <tr>
                        <th style="width:20%;">{% translate '日期' %}</th>
                        <th style="width:20%">{% translate '时间' %}(24h)</th>
                        <th style="width:20%">{% translate '状态' %}</th>
                        <th style="width:20%">{% translate '客户' %}</th>
                        <th>{% translate '快捷' %}</th>
                        <th>{% translate '操作' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for appointment in appointments %}
                        <tr>
                            <td>{{ appointment.slot.date }}</td>
                            <td>{{ appointment.slot.start_time }}-{{ appointment.slot.end_time }}</td>
                            <td>{{ appointment.get_status_display }}</td>
                            <td>{{ appointment.customer }}</td>
                            <td class="table-action">
                                {% if appointment.status == "APPLY" %}
                                    <a class="action-button check-button" href="{% url 'ADMAppointmentAccept' current_page appointment.id %}">
                                        <i class="align-middle" data-feather="check"></i>
                                    </a>

                                    <a class="action-button trash-button" href="{% url 'ADMAppointmentReject' current_page appointment.id %}">
                                        <i class="align-middle" data-feather="x"></i>
                                    </a>
                                {% elif appointment.status == "ACCEPT" %}
                                    <a class="action-button check-button" href="{% url 'ADMAppointmentSuccess' current_page appointment.id %}">
                                        <i class="fa-regular fa-calendar-check fa-lg"></i>
                                    </a>

                                    <a class="action-button trash-button" href="{% url 'ADMAppointmentTimeout' current_page appointment.id %}">
                                        <i class="fa-regular fa-calendar-xmark fa-lg"></i>
                                    </a>
                                {% else %}
                                    N/A
                                {% endif %}
                            </td>
                            <td class="table-action">
                                <a class="action-button edit-button" href="{% url 'ADMAppointmentEdit' appointment.id %}">
                                    <i class="align-middle" data-feather="edit-2"></i>
                                </a>

                                <a class="action-button trash-button">
                                    <i class="align-middle" data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td class="text-center" colspan="6">{% translate '暂无预约' %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info">
                                {% blocktranslate with start=appointments.start_index end=appointments.end_index page_total=paginator.num_pages Customer_total=paginator.count %}
                                    第 {{ current_page }} 页，共 {{ page_total }} 页
                                    <p class="small text-muted">第 {{ start }} ~ {{ end }} 项，共 {{ Customer_total }} 项</p>
                                {% endblocktranslate %}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="btn-group mb-3 float-end">

                                <a href="{% if current_page != 1 %}{% url 'ADMSlotIndex' 1 %}{% endif %}"
                                   class="btn btn-outline-primary {% if current_page == 1 %}disabled{% endif %}">
                                    <i class="align-middle" data-feather="chevrons-left"></i>
                                </a>

                                <a href="{% if timeslots.has_next %}{% url 'ADMSlotIndex' timeslots.previous_page_number %}{% endif %}"
                                   class="btn btn-outline-primary {% if not timeslots.has_previous %}disabled{% endif %}">
                                    <i class="align-middle" data-feather="chevron-left"></i>
                                </a>

                                {% for p in page_list %}
                                    <a href="#"
                                       class="btn btn-outline-primary {% if p == current_page %}active{% elif p == "..." %}disabled{% endif %}">
                                        {{ p }}
                                    </a>
                                {% endfor %}

                                <a href="{% if timeslots.has_next %}{% url 'ADMSlotIndex' timeslots.next_page_number %}{% endif %}"
                                   class="btn btn-outline-primary {% if not timeslots.has_next %}disabled{% endif %}">
                                    <i class="align-middle" data-feather="chevron-right"></i>
                                </a>
                                <a href="{% if current_page != paginator.num_pages %}{% url 'ADMSlotIndex' paginator.num_pages %}{% endif %}"
                                   class="btn btn-outline-primary {% if current_page == paginator.num_pages %}disabled{% endif %}">
                                    <i class="align-middle" data-feather="chevrons-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}