{% extends 'admin/admin_template.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
    <link href="{% static 'CSS/admin_template_basic.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1 class="h3 mb-3">{% translate '预约时间表操作' %}</h1>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">{% translate '预约时间' %}</h5>
                        </div>
                    </div>
                </div>

                <table class="table table-striped table-padding">
                    <thead>
                    <tr>
                        <th style="width:30%;">{% translate '日期' %}</th>
                        <th style="width:30%">{% translate '时间' %}</th>
                        <th style="width:30%">{% translate '剩余 / 最大' %}</th>
                        <th>{% translate '操作' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for slot in timeslots %}
                        <tr>
                            <td>{{ slot.date }}</td>
                            <td>{{ slot.time }}</td>
                            <td>{{ slot.get_remain_availability }} / {{ slot.availability }}</td>
                            <td class="table-action">
                                <a class="action-button edit-button" href="#">
                                    <i class="align-middle" data-feather="edit-2"></i>
                                </a>

                                <a class="action-button trash-button">
                                    <i class="align-middle" data-feather="trash-2"></i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td class="text-center" colspan="5">{% translate '暂无预约' %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-sm-12 col-md-5">
                            <div class="dataTables_info">
                                {% blocktranslate with start=timeslots.start_index end=timeslots.end_index page_total=paginator.num_pages Customer_total=paginator.count %}
                                    第 {{ current_page }} 页，共 {{ page_total }} 页
                                    <p class="small">第 {{ start }} ~ {{ end }} 项，共 {{ Customer_total }} 项</p>
                                {% endblocktranslate %}
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7">
                            <div class="btn-group mb-3 float-end">

                                <a href="{% if current_page != 1 %}{% url 'ADMSlotIndex' 1 %}{% endif %}"
                                   class="btn btn-outline-primary {% if current_page == 1 %}disabled{% endif %}">
                                    <i class="align-middle" data-feather="chevrons-left"></i>
                                </a>

                                <a href="
                                            {% if timeslots.has_next %}{% url 'ADMSlotIndex' timeslots.previous_page_number %}{% endif %}"
                                   class="btn btn-outline-primary {% if not timeslots.has_previous %}disabled{% endif %}">
                                    <i class="align-middle" data-feather="chevron-left"></i>
                                </a>

                                {% for p in page_list %}
                                    <a href="#"
                                       class="btn btn-outline-primary {% if p == current_page %}active{% elif p == "..." %}disabled{% endif %}">
                                        {{ p }}
                                    </a>
                                {% endfor %}

                                <a href="
                                            {% if timeslots.has_next %}{% url 'ADMSlotIndex' timeslots.next_page_number %}{% endif %}"
                                   class="btn btn-outline-primary {% if not timeslots.has_next %}disabled{% endif %}">
                                    <i class="align-middle" data-feather="chevron-right"></i>
                                </a>
                                <a href="
                                            {% if current_page != paginator.num_pages %}{% url 'ADMSlotIndex' paginator.num_pages %}{% endif %}"
                                   class="btn btn-outline-primary {% if current_page == paginator.num_pages %}disabled{% endif %}">
                                    <i class="align-middle" data-feather="chevrons-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}