{% extends 'admin/admin_template.html' %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block headJs %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block css %}
    <link href="{% static 'CSS/admin_template_basic.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-md-4">
                <div class="row-cols-1">
                    <div class="mb-3">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col mt-0"><h5 class="card-title">{% trans "客户信息" %}</h5></div>
                                    <div class="col-auto">
                                        <div class="stat text-primary">
                                            <i class="bi bi-person"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-sm mt-2 mb-4">
                                    <tbody>
                                    <tr>
                                        <th>{% trans "名称" %}</th>
                                        <td>{{ consult.name }}</td>
                                    </tr>
                                    <tr>
                                        <th>{% trans "联系方式" %}</th>
                                        <td>{{ consult.contact_detail }}</td>
                                    </tr>
                                    <tr>
                                        <th>{% trans "Email" %}</th>
                                        <td><a href="mailto:{{ consult.email }}">{{ consult.email }}</a></td>
                                    </tr>
                                    <tr>
                                        <th>{% trans "状态" %}</th>
                                        <td>
                                            {% if consult.status == "O" %}
                                                <span class="badge bg-warning">{{ consult.get_status_display }}</span>
                                            {% elif consult.status == "T" %}
                                                <span class="badge bg-success">{{ consult.get_status_display }}</span>
                                            {% elif consult.status == "C" %}
                                                <span class="badge bg-primary">{{ consult.get_status_display }}</span>
                                            {% else %}
                                                <span class="badge bg-secondary">{% trans "未知" %}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="card-body">
                                    <div class="row p-0">
                                        {% if consult.status == "O" %}
                                            <div class="col">
                                                <a href="{% url 'ADMConsultTrace' consult.id %}"
                                                   class="btn btn-success w-100 card-link">{% trans "追踪" %}</a>
                                            </div>
                                            <div class="col">
                                                <a href="{% url 'ADMConsultClose' consult.id %}"
                                                   class="btn btn-primary w-100 card-link">{% trans "关闭" %}</a>
                                            </div>
                                        {% elif consult.status == "T" %}
                                            <div class="col">
                                                <a href="{% url 'ADMConsultClose' consult.id %}"
                                                   class="btn btn-primary w-100 card-link">{% trans "关闭" %}</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row-cols-1">
                    <div class="mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{% trans "咨询详情" %}</h5>
                            </div>
                            <div class="card-body">
                                {{ consult.query }}
                            </div>
                        </div>
                    </div>
                    {% if consult.status != "C" %}
                        <form method="post" class="mb-3">
                            {% csrf_token %}
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        {% trans "回复" %}
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="mb-3">
                                            <label class="form-label" for="{{ form.subject.id_for_label }}">
                                                {{ form.subject.label }}
                                                {% if form.subject.field.required %}
                                                    <span style="color: red">*</span>
                                                {% endif %}
                                            </label>
                                            {% render_field form.subject class="form-control" %}
                                            <div>
                                                {% if form.subject.errors %}
                                                    <p class="small" style="color: red;">{{ form.subject.errors.0 }}</p>
                                                {% elif form.subject.help_text %}
                                                    <p class="small text-muted">{{ form.subject.help_text }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label" for="{{ form.title.id_for_label }}">
                                                {{ form.title.label }}
                                                {% if form.title.field.required %}
                                                    <span style="color: red">*</span>
                                                {% endif %}
                                            </label>
                                            {% render_field form.title class="form-control" %}
                                            <div>
                                                {% if form.title.errors %}
                                                    <p class="small" style="color: red;">{{ form.title.errors.0 }}</p>
                                                {% elif form.title.help_text %}
                                                    <p class="small text-muted">{{ form.title.help_text }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            {{ form.content|safe }}
                                        </div>
                                        <div class="mb-3">
                                            <button class="btn btn-primary w-100">{% trans "发送" %}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}