{% extends 'admin/admin_template.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
    <link href="{% static 'CSS/admin_template_basic.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">{% translate '创建分区' %}</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="mb-3">
                                    <label class="form-label" for="{{ form.name.id_for_label }}">
                                        {{ form.name.label }}
                                        <span class="badge bg-secondary" data-bs-toggle="tooltip"
                                              title="{% trans 'Multi-language field' %}">
                                             <i class="bi bi-translate"></i>
                                        </span>
                                        {% if form.name.field.required %}
                                            <span style="color: red">*</span>
                                        {% endif %}
                                    </label>
                                    {% render_field form.name class="form-control" %}
                                    <div>
                                        {% if form.name.errors %}
                                            <p class="small" style="color: red;">{{ form.name.errors.0 }}</p>
                                        {% elif form.name.help_text %}
                                            <p class="small text-muted">{{ form.name.help_text }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="mb-3">
                                    <button class="w-100 btn btn-primary" type="submit">{% trans "创建" %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="h3 mb-3">{% translate '分区管理' %}</h1>
        <div class="row">
            <div class="mb-3">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped table-padding">
                            <thead>
                            <tr>
                                <th style="width:10%;">#</th>
                                <th>{% translate '分区名称' %}</th>
                                <th style="width:15%;">{% translate '操作' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sector in sectors %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ sector.name }}</td>
                                    <td class="table-action">
                                        <a href="{% url 'ADMNaviItemIndex' sector.id %}" class="action-button edit-button">
                                            <i class="align-middle" data-feather="edit-2"></i>
                                        </a>
                                        {# Todo: 添加删除确认Modal #}
                                        {# <a href="" class="action-button trash-button"#}
                                        {#    data-bs-toggle="modal" data-bs-target="#deleteModal" data-bs-name="{{ sector.name }}"#}
                                        {#    data-bs-url="{% url 'ADMNaviSectorDelete' sector.id %}">#}
                                        {#     <i class="align-middle" data-feather="trash-2"></i>#}
                                        {# </a>#}
                                        <a href="{% url 'ADMNaviSectorDelete' sector.id %}"
                                           class="action-button trash-button">
                                            <i class="align-middle" data-feather="trash-2"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td class="text-center" colspan="10">{% translate '暂无更多分区' %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {#    <div class="modal fade modal-dialog-centered" id="deleteModal" tabindex="-1"#}
    {#         aria-labelledby="deleteModalLabel" aria-hidden="true">#}
    {#        <div class="modal-dialog">#}
    {#            <div class="modal-content">#}
    {#                <div class="modal-header">#}
    {#                    <h5 class="modal-title" id="deleteModalLabel">{% trans "删除导航栏分区" %}</h5>#}
    {#                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>#}
    {#                </div>#}
    {#                <div class="modal-body">#}
    {#                    <p>{% trans "该操作将连带删除该分区下所有内容" %}</p>#}
    {#                </div>#}
    {#                <div class="modal-footer">#}
    {#                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans '取消' %}</button>#}
    {#                    <a id="confirm-delete" class="btn btn-primary">{% trans '确定' %}</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {##}
    {#    <script>#}
    {#        let deleteModal = document.getElementById('deleteModal')#}
    {#        deleteModal.addEventListener('show.bs.modal', function (event) {#}
    {#            let button = event.relatedTarget#}
    {##}
    {#            let name = button.getAttribute('data-bs-name')#}
    {#            let url = button.getAttribute('data-bs-url')#}
    {##}
    {#            let modalTitle = deleteModal.querySelector('.modal-title')#}
    {#            let confirmButton = deleteModal.querySelector('#confirm-delete')#}
    {##}
    {#            modalTitle.textContent = '{% trans "删除导航栏分区" %} ' + name#}
    {#            confirmButton.href = url#}
    {#        })#}
    {#    </script>#}
{% endblock %}

{% block js %}
    <script>
        let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
{% endblock %}
