{% load i18n %}
{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="img/icons/icon-48x48.png"/>

    <title>{% block page_title %}{% endblock %}</title>

    <link href="{% static 'adminkit/static/css/app.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    {% trans '员工标签' %}
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="{{ form.tag.id_for_label }}">
                            {{ form.tag.label }}
                            {% if form.tag.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        {% render_field form.tag class="form-control" %}
                        <div>
                            {% if form.tag.errors %}
                                <p class="small" style="color: red;">{{ form.tag.errors.0 }}</p>
                            {% elif form.tag.help_text %}
                                <p class="small text-muted">{{ form.tag.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    {% trans '员工信息' %}
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="{{ form.department.id_for_label }}">
                            {{ form.department.label }}
                            {% if form.department.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        {% render_field form.department class="form-control" %}
                        <div>
                            {% if form.department.errors %}
                                <p class="small" style="color: red;">{{ form.department.errors.0 }}</p>
                            {% elif form.department.help_text %}
                                <p class="small text-muted">{{ form.department.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="{{ form.role.id_for_label }}">
                            {{ form.role.label }}
                            {% if form.role.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        {% render_field form.role class="form-control" %}
                        <div>
                            {% if form.role.errors %}
                                <p class="small" style="color: red;">{{ form.role.errors.0 }}</p>
                            {% elif form.role.help_text %}
                                <p class="small text-muted">{{ form.role.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-md-3 mb-3">
                        <div class="form-check form-check-inline">
                            {% render_field form.is_consultant class="form-check-input" type="checkbox" %}
                            <span class="form-check-label">
                                {{ form.is_consultant.label }}
                                {% if form.is_consultant.field.required %}
                                    <span style="color: red">*</span>
                                {% endif %}
                            </span>
                        </div>
                        <div>
                            {% if form.is_consultant.errors %}
                                <p class="small" style="color: red;">{{ form.is_consultant.errors.0 }}</p>
                            {% elif form.is_consultant.help_text %}
                                <p class="small text-muted">{{ form.is_consultant.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3">
                        <small style="color: red">
                            {{ form.non_field_errors|striptags }}
                        </small>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <button type="submit" class="btn btn-primary w-100">
                    {% trans "提交" %}
                </button>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="{% static 'adminkit/static/js/app.js' %}"></script>
</body>