{% extends 'admin/admin_template.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
    <link href="{% static 'CSS/admin_template_basic.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">{% translate '分区修改' %}</h1>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <label class="form-label" for="{{ form.name.id_for_label }}">
                                        {{ form.name.label }}
                                        {% if form.name.field.required %}
                                            <span style="color: red">*</span>
                                        {% endif %}
                                    </label>
                                    {% render_field form.name class="form-control" %}
                                    <div>
                                        {% if form.name.errors %}
                                            <p class="small" style="color: red;">{{ form.name.errors.0 }}</p>
                                        {% elif form.name.help_text %}
                                            <p class="small">{{ form.name.help_text }}</p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-md-6 md-3">
                                    <label class="form-label" for="{{ form.max_news.id_for_label }}">
                                        {{ form.max_news.label }}
                                        {% if form.max_news.field.required %}
                                            <span style="color: red">*</span>
                                        {% endif %}
                                    </label>
                                    {% render_field form.max_news class="form-control" %}
                                    <div>
                                        {% if form.max_news.errors %}
                                            <p class="small" style="color: red;">{{ form.max_news.errors.0 }}</p>
                                        {% elif form.max_news.help_text %}
                                            <p class="small">{{ form.max_news.help_text }}</p>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-12 md-3">
                                    <button class="w-100 btn btn-primary" type="submit">{% translate '修改' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}