{% extends 'admin/admin_template.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
    <link href="{% static 'CSS/admin_template_basic.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        <h1 class="h3 mb-3">{% translate '首页侧栏管理' %}</h1>
        <div class="row">
            <div class="col-md-3 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">{% translate '项目总数' %}</h5>
                            </div>

                            <div class="col-auto">
                                <div class="stat text-primary">
                                    <i class="align-middle" data-feather="file"></i>
                                </div>
                            </div>
                        </div>
                        <h1 class="mt-1 mb-3">{{ count }}</h1>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h3 card-title">
                            {% trans '创建侧边栏项目' %}
                        </h1>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-1 col-sm-2 mb-3">
                                    <label class="form-label" for="{{ form.order.id_for_label }}">
                                        {{ form.order.label }}
                                        {% if form.order.field.required %}
                                            <span style="color: red">*</span>
                                        {% endif %}
                                    </label>
                                    {% render_field form.order class="form-control" %}
                                    <div>
                                        {% if form.order.errors %}
                                            <p class="small" style="color: red;">{{ form.order.errors.0 }}</p>
                                        {% elif form.order.help_text %}
                                            <p class="small text-muted">{{ form.order.help_text }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-10 mb-3">
                                    <label class="form-label" for="{{ form.display.id_for_label }}">
                                        {{ form.display.label }}
                                        {% if form.display.field.required %}
                                            <span style="color: red">*</span>
                                        {% endif %}
                                    </label>
                                    {% render_field form.display class="form-control" %}
                                    <div>
                                        {% if form.display.errors %}
                                            <p class="small" style="color: red;">{{ form.display.errors.0 }}</p>
                                        {% elif form.display.help_text %}
                                            <p class="small text-muted">{{ form.display.help_text }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 mb-3">
                                    <label class="form-label" for="{{ form.type.id_for_label }}">
                                        {{ form.type.label }}
                                        {% if form.type.field.required %}
                                            <span style="color: red">*</span>
                                        {% endif %}
                                    </label>
                                    {% render_field form.type class="form-control" %}
                                    <div>
                                        {% if form.type.errors %}
                                            <p class="small" style="color: red;">{{ form.type.errors.0 }}</p>
                                        {% elif form.type.help_text %}
                                            <p class="small text-muted">{{ form.type.help_text }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 mb-3">
                                    <label class="form-label" for="{{ form.article.id_for_label }}">
                                        {{ form.article.label }}
                                        {% if form.article.field.required %}
                                            <span style="color: red">*</span>
                                        {% endif %}
                                    </label>
                                    {% render_field form.article class="form-control" %}
                                    <div>
                                        {% if form.article.errors %}
                                            <p class="small" style="color: red;">{{ form.article.errors.0 }}</p>
                                        {% elif form.article.help_text %}
                                            <p class="small text-muted">{{ form.article.help_text }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 mb-3">
                                    <label class="form-label" for="{{ form.url.id_for_label }}">
                                        {{ form.url.label }}
                                        {% if form.url.field.required %}
                                            <span style="color: red">*</span>
                                        {% endif %}
                                    </label>
                                    {% render_field form.url class="form-control" %}
                                    <div>
                                        {% if form.url.errors %}
                                            <p class="small" style="color: red;">{{ form.url.errors.0 }}</p>
                                        {% elif form.url.help_text %}
                                            <p class="small text-muted">{{ form.url.help_text }}</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <button class="w-100 btn btn-primary" type="submit">{% trans "提交" %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-striped table-padding">
                            <thead>
                            <tr>
                                <th><strong>#</strong></th>
                                <th style="width:60%;">{% translate '显示文本' %}</th>
                                <th style="width:30%">{% translate '链接类型' %}</th>
                                <th>{% translate '操作' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in sidebar_items %}
                                <tr>
                                    <td>{{ item.id }}</td>
                                    <td>{{ item.display }}</td>
                                    <td>{{ item.get_type_display }}</td>
                                    <td class="table-action">
                                        <a class="action-button edit-button" href="#">
                                            <i class="align-middle" data-feather="edit-2"></i>
                                        </a>

                                        <a class="action-button trash-button">
                                            <i class="align-middle" data-feather="trash-2"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td class="text-center" colspan="5">{% translate '暂无侧边栏项' %}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}