{% extends 'admin/admin_template.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
    <link href="{% static 'CSS/admin_template_basic.css' %}" rel="stylesheet">
    <style>
        .django-ckeditor-widget {
            width: 100%;
        }

        .tooltip {
            display: inline-block;
            background: #333;
            color: white;
            font-weight: bold;
            padding: 5px 10px;
            font-size: 13px;
            border-radius: 4px;
        }

        .tooltip-arrow,
        .tooltip-arrow::before {
            position: absolute;
            width: 8px;
            height: 8px;
            background: inherit;
        }

        .tooltip-arrow {
            visibility: hidden;
            bottom: -4px;
        }

        .tooltip-arrow::before {
            visibility: visible;
            content: '';
            transform: rotate(45deg);
        }
    </style>
{% endblock %}

{% block headJs %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid p-0">
        {% if view_count > 0 %}
            <h1 class="h3 mb-3">{% translate '基础信息' %}</h1>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col mt-0">
                                    <h5 class="card-title">
                                        {% translate '浏览数量' %}
                                    </h5>
                                </div>
                                <div class="col-auto">
                                    <div class="stat text-primary">
                                        <i class="align-middle" data-feather="eye"></i>
                                    </div>
                                </div>
                            </div>
                            <h1 class="mt-1 mb-3">
                                {{ view_count }}
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <h1 class="h3 mb-3">{% translate '文章创建' %}</h1>
        <form method="POST" name="ArticleCreate">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title mb-0">
                            {% translate '错误信息' %}
                        </h5>
                    </div>

                    <div class="card-body">
                        {% for err in form.non_field_errors %}
                            <ul>
                                <li class="text-danger">{{ err }}</li>
                            </ul>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">
                        {% translate '文章基础信息' %}
                    </h5>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label" for="{{ form.title.id_for_label }}">
                                {{ form.title.label }}
                                <span class="badge bg-secondary" data-bs-toggle="tooltip" title="{% trans 'Multi-language field' %}">
                                     <i class="bi bi-translate"></i>
                                </span>
                                {% if form.title.field.required %}
                                    <span style="color: red">*</span>
                                {% endif %}
                            </label>
                            {% render_field form.title class="form-control" %}
                            <div>
                                {% if form.title.errors %}
                                    <p class="small" style="color: red;">{{ form.title.errors.0 }}</p>
                                {% elif form.title.help_text %}
                                    <p class="small text-muted">{{ form.title.help_text }}</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label" for="{{ form.author.id_for_label }}">
                                {{ form.author.label }}
                                <span class="badge bg-secondary" data-bs-toggle="tooltip" title="{% trans 'Multi-language field' %}">
                                     <i class="bi bi-translate"></i>
                                </span>
                                {% if form.author.field.required %}
                                    <span style="color: red">*</span>
                                {% endif %}
                            </label>
                            {% render_field form.author class="form-control" %}
                            <div>
                                {% if form.author.errors %}
                                    <p class="small" style="color: red;">{{ form.author.errors.0 }}</p>
                                {% elif form.author.help_text %}
                                    <p class="small text-muted">{{ form.author.help_text }}</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label class="form-label" for="{{ form.status.id_for_label }}">
                                {{ form.status.label }} 
                                {% if form.status.field.required %}
                                    <span style="color: red">*</span>
                                {% endif %}
                            </label>
                            {% render_field form.status class="form-control" %}
                            <div>
                                {% if form.status.errors %}
                                    <p class="small" style="color: red;">{{ form.status.errors.0 }}</p>
                                {% elif form.status.help_text %}
                                    <p class="small text-muted">{{ form.status.help_text }}</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-md-3 mb-3">
                            <label class="form-label" for="{{ form.lv_require.id_for_label }}">
                                {{ form.lv_require.label }} 
                                {% if form.lv_require.field.required %}
                                    <span style="color: red">*</span>
                                {% endif %}
                            </label>
                            {% render_field form.lv_require class="form-control" %}
                            <div>
                                {% if form.lv_require.errors %}
                                    <p class="small" style="color: red;">{{ form.lv_require.errors.0 }}</p>
                                {% elif form.lv_require.help_text %}
                                    <p class="small text-muted">{{ form.lv_require.help_text }}</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="col-md-12 mb-3">
                            <div class="form-check form-switch">
                                <label class="form-label" for="{{ form.copyable.id_for_label }}">
                                    {{ form.copyable.label }}
                                    {% if form.copyable.field.required %}
                                        <span style="color: red">*</span>
                                    {% endif %}
                                </label>
                                {% render_field form.copyable class="form-check-input" %}
                                <div>
                                    {% if form.copyable.errors %}
                                        <p class="small" style="color: red;">{{ form.copyable.errors.0 }}</p>
                                    {% elif form.copyable.help_text %}
                                        <p class="small text-muted">{{ form.copyable.help_text }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">{% translate '文章Meta标签' %}</h5>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="mb-3">
                            <label class="form-label" for="{{ form.description.id_for_label }}">
                                {{ form.description.label }}
                                <span class="badge bg-secondary" data-bs-toggle="tooltip" title="{% trans 'Multi-language field' %}">
                                     <i class="bi bi-translate"></i>
                                </span>
                                {% if form.description.field.required %}
                                    <span style="color: red">*</span>
                                {% endif %}
                            </label>
                            {% render_field form.description class="form-control" %}
                            <div>
                                {% if form.description.errors %}
                                    <p class="small" style="color: red;">{{ form.description.errors.0 }}</p>
                                {% elif form.description.help_text %}
                                    <p class="small text-muted">{{ form.description.help_text }}</p>
                                {% endif %}
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="{{ form.keywords.id_for_label }}">
                                {{ form.keywords.label }} 
                                {% if form.keywords.field.required %}
                                    <span style="color: red">*</span>
                                {% endif %}
                            </label>
                            {% render_field form.keywords class="form-control" %}
                            <div>
                                {% if form.keywords.errors %}
                                    <p class="small" style="color: red;">{{ form.keywords.errors.0 }}</p>
                                {% elif form.keywords.help_text %}
                                    <p class="small text-muted">{{ form.keywords.help_text }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col mt-0">
                            <h5 class="card-title">{% translate '文章内容' %}
                                <span class="badge bg-secondary" data-bs-toggle="tooltip" title="{% trans 'Multi-language field' %}">
                                     <i class="bi bi-translate"></i>
                                </span>
                                <span style="color: red">*</span>
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="mb-3">
                            {{ form.content|safe }}
                        </div>
                        {% if form.content.errors %}
                            <div class="mb-3">
                                <p class="small" style="color: red;">{{ form.content.errors.0 }}</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <button class="w-100 btn btn-primary" type="submit">提交</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script>
        let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
{% endblock %}
