{% load i18n %}
{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="img/icons/icon-48x48.png"/>

    <title>{% block page_title %}{% endblock %}</title>

    <link href="{% static 'adminkit/static/css/app.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    {% trans "基础信息" %}
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-sm-12 mb-3">
                        <label class="form-label" for="{{ basic_form.username.id_for_label }}">
                            {{ basic_form.username.label }}
                            {% if basic_form.username.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        {% render_field basic_form.username class="form-control" %}
                        <div>
                            {% if basic_form.username.errors %}
                                <p class="small" style="color: red;">{{ basic_form.username.errors.0 }}</p>
                            {% elif basic_form.username.help_text %}
                                <p class="small">{{ basic_form.username.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 mb-3">
                        <label class="form-label" for="{{ basic_form.name.id_for_label }}">
                            {{ basic_form.name.label }} 
                            {% if basic_form.name.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        {% render_field basic_form.name class="form-control" %}
                        <div>
                            {% if basic_form.name.errors %}
                                <p class="small" style="color: red;">{{ basic_form.name.errors.0 }}</p>
                            {% elif basic_form.name.help_text %}
                                <p class="small">{{ basic_form.name.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 mb-3">
                        <label class="form-label" for="{{ basic_form.dob.id_for_label }}">
                            {{ basic_form.dob.label }}
                            {% if basic_form.dob.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        {% render_field basic_form.dob class="form-control" %}
                        <div>
                            {% if basic_form.dob.errors %}
                                <p class="small" style="color: red;">{{ basic_form.dob.errors.0 }}</p>
                            {% elif basic_form.dob.help_text %}
                                <p class="small">{{ basic_form.dob.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-12 mb-3">
                        <label class="form-label" for="{{ basic_form.email.id_for_label }}">
                            {{ basic_form.email.label }}
                            {% if basic_form.email.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        <div class="input-group">
                            {% render_field basic_form.email class="form-control" %}
                            {% if basic_form.email.value %}
                                <a href="mailto:{{ basic_form.email.value }}" class="btn btn-primary" type="button">
                                    <i class="align-middle" data-feather="mail"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div>
                            {% if basic_form.email.errors %}
                                <p class="small" style="color: red;">{{ basic_form.email.errors.0 }}</p>
                            {% elif basic_form.email.help_text %}
                                <p class="small">{{ basic_form.email.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 mb-3">
                       <label class="form-label" for="{{ basic_form.countryCode.id_for_label }}">
                           {{ basic_form.countryCode.label }}
                           {% if basic_form.countryCode.field.required %}
                               <span style="color: red">*</span>
                           {% endif %}
                       </label>
                       {% render_field basic_form.countryCode class="form-control" %}
                       <div>
                           {% if basic_form.countryCode.errors %}
                               <p class="small" style="color: red;">{{ basic_form.countryCode.errors.0 }}</p>
                           {% elif basic_form.countryCode.help_text %}
                               <p class="small">{{ basic_form.countryCode.help_text }}</p>
                           {% endif %}
                       </div>
                    </div>
                    <div class="col-md-9 col-sm-8 mb-3">
                        <label class="form-label" for="{{ basic_form.tele.id_for_label }}">
                            {{ basic_form.tele.label }}
                            {% if basic_form.tele.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        <div class="input-group">
                            {% render_field basic_form.tele class="form-control" %}
                            {% if basic_form.tele.value %}
                                <a href="sms:{{ basic_form.tele.value }}" class="btn btn-primary" type="button">
                                    <i class="align-middle" data-feather="message-square"></i>
                                </a>
                                <a href="tel:{{ basic_form.tele.value }}" class="btn btn-primary" type="button">
                                    <i class="align-middle" data-feather="phone"></i>
                                </a>
                            {% endif %}
                        </div>
                        <div>
                            {% if basic_form.tele.errors %}
                                <p class="small" style="color: red;">{{ basic_form.tele.errors.0 }}</p>
                            {% elif basic_form.tele.help_text %}
                                <p class="small">{{ basic_form.tele.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <small style="color: red">{{ basic_form.non_field_errors }}</small>
                </div>
            </div>

            <hr class="my-0">

            <div class="card-body">
                <button class="w-100 btn btn-primary" type="submit">提交</button>

            </div>
        </div>
    </form>

    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="{% static 'adminkit/static/js/app.js' %}"></script>
</body>