{% load i18n %}
{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="img/icons/icon-48x48.png"/>

    <title>{% block page_title %}{% endblock %}</title>

    <link href="{% static 'adminkit/static/css/app.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    {% trans '客户标签' %}
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label class="form-label" for="{{ customer_form.tag.id_for_label }}">
                            {{ customer_form.tag.label }}
                            {% if customer_form.tag.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        {% render_field customer_form.tag class="form-control" %}
                        <div>
                            {% if customer_form.tag.errors %}
                                <p class="small" style="color: red;">{{ customer_form.tag.errors.0 }}</p>
                            {% elif customer_form.tag.help_text %}
                                <p class="small">{{ customer_form.tag.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title mb-0">
                    {% trans '客户信息' %}
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label class="form-label" for="{{ customer_form.contact_type.id_for_label }}">
                            {{ customer_form.contact_type.label }}
                            {% if customer_form.contact_type.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        {% render_field customer_form.contact_type class="form-control" %}
                        <div>
                            {% if customer_form.contact_type.errors %}
                                <p class="small" style="color: red;">{{ customer_form.contact_type.errors.0 }}</p>
                            {% elif customer_form.contact_type.help_text %}
                                <p class="small">{{ customer_form.contact_type.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-5 mb-3">
                        <label class="form-label" for="{{ customer_form.contact_detail.id_for_label }}">
                            {{ customer_form.contact_detail.label }}
                            {% if customer_form.contact_detail.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        {% render_field customer_form.contact_detail class="form-control" %}
                        <div>
                            {% if customer_form.contact_detail.errors %}
                                <p class="small" style="color: red;">{{ customer_form.contact_detail.errors.0 }}</p>
                            {% elif customer_form.contact_detail.help_text %}
                                <p class="small">{{ customer_form.contact_detail.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label class="form-label" for="{{ customer_form.nationality.id_for_label }}">
                            {{ customer_form.nationality.label }} 
                            {% if customer_form.nationality.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        {% render_field customer_form.nationality class="form-control" %}
                        <div>
                            {% if customer_form.nationality.errors %}
                                <p class="small" style="color: red;">{{ customer_form.nationality.errors.0 }}</p>
                            {% elif customer_form.nationality.help_text %}
                                <p class="small">{{ customer_form.nationality.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-2 mb-3">
                        <label class="form-label" for="{{ customer_form.vip_lv.id_for_label }}">
                            {{ customer_form.vip_lv.label }} 
                            {% if customer_form.vip_lv.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        {% render_field customer_form.vip_lv class="form-control" %}
                        <div>
                            {% if customer_form.vip_lv.errors %}
                                <p class="small" style="color: red;">{{ customer_form.vip_lv.errors.0 }}</p>
                            {% elif customer_form.vip_lv.help_text %}
                                <p class="small">{{ customer_form.vip_lv.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-10 mb-3">
                        <label class="form-label" for="{{ customer_form.intention.id_for_label }}">
                            {{ customer_form.intention.label }} 
                            {% if customer_form.intention.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        {% render_field customer_form.intention class="form-control" %}
                        <div>
                            {% if customer_form.intention.errors %}
                                <p class="small" style="color: red;">{{ customer_form.intention.errors.0 }}</p>
                            {% elif customer_form.intention.help_text %}
                                <p class="small">{{ customer_form.intention.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label class="form-label" for="{{ customer_form.extra.id_for_label }}">
                            {{ customer_form.extra.label }} 
                            {% if customer_form.extra.field.required %}
                                <span style="color: red">*</span>
                            {% endif %}
                        </label>
                        {% render_field customer_form.extra class="form-control" %}
                        <div>
                            {% if customer_form.extra.errors %}
                                <p class="small" style="color: red;">{{ customer_form.extra.errors.0 }}</p>
                            {% elif customer_form.extra.help_text %}
                                <p class="small">{{ customer_form.extra.help_text }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="mt-3">
                        <small style="color: red">
                            {{ customer_form.non_field_errors|striptags }}
                        </small>
                    </div>
                </div>
            </div>
            <hr class="my-0">
            <div class="card-body">
                <button type="submit" class="btn btn-primary w-100">
                    {% trans "提交" %}
                </button>
            </div>
        </div>
    </form>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="{% static 'adminkit/static/js/app.js' %}"></script>
</body>